<!-- we dont need to go one folder back here ... -->
  <%- include("./partials/header") %>


<h1>
	Sign Up!
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>SignUp</button>
</form>

<!-- <li><a href="/register">Sign up</a></li>

<li><a href="/login">login</a></li>

<li><a href="/logout">logout</a></li> -->

<!-- we dont need to go one folder back here ... -->
  <%- include("./partials/footer") %>
