.card {
	padding: 0;
	background-color: #e5eaf5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img {
	 width: 100%;
  height: auto;
}


/* .footer {
	font-size: 2em;
} */

.nav{
	font-size: 2em;
}

.nav-link {
	color: white;
}

.nav :hover{
	color: #5CB85C;
}


.container{
		max-width: 1600px;

}



/* ===============image transition */
.overlay{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.contt:hover .image {
  opacity: 0.3;
}

.contt:hover .overlay {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* ==================== */

.jumbotron{
	background: #2e6f95;
	text-align: center;
	/* font-size: 2vh; */
	color: white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
	background-color: #a8dadc;

}
/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px;
  background-color: #f5f5f5; */
/* } */ 

/* we rempved footer class and r using text-muted instead */
.text-muted {
	font-size: 1.5em;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  text-align: center;
}


.container .text-muted {
  margin: 20px 0;
	
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}



/* Campground show page delete button */
.delete-form {
	display: inline-block;
}

