body{
	background-color: #203647;
	
}

/* https://github.com/nax3t/background-slider */
#landing-header {
	background: #12232E;
	
  text-align: center;
	/* vh-- view height */
  /* padding-top: 40vh; */
}

#landing-header h1 {
	font-size: 5vw;
	padding-top: 5vw;
	padding-bottom: 2vw;
	font-weight: bold;
  color: #fff;
}


#landing-header a {
	font-size: 2vw;
	/* padding-top: 4vh; */
	font-weight: bold;
  /* color: #fff; */
}


img {
	 width: 100%;
  height: auto;
}


.footer {
	font-size: 2em;
	height: 70px;
}

.nav{
	font-size: 2em;
}

.nav-link {
	color: white;
}

.nav :hover{
	color: #5CB85C;
}


